.content {
    max-width: 600px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding: 20px;
}

table {
        border-collapse: collapse;
        width: 100%;
        }
    th, td {
        text-align: left;
        padding: 8px;
        width: 100%;
        }
    tr:nth-child(even){background-color: #f2f2f2}
    th {
        background-color: #4CAF50;
        color: white;
       }
    button{
        margin-left: 590px;}