<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Forums Workshop</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <style>
        table {
        border-collapse: collapse;
        width: 100%;
        }
    th, td {
        text-align: left;
        padding: 8px;
        width: 100%;
        }
    tr:nth-child(even){background-color: #f2f2f2}
    th {
        background-color: #4CAF50;
        color: white;
       }
    </style>
    <div class="centered-item">
        <marquee>
            <h1>One Million Arab Coders</h1>
        </marquee>
    </div>

    <div class="centered-item">
        <a href="#">Members</a>

        <a href="#">Profile</a>
    </div>

    <div class="content">
        <a href="#">Create</a>

        <table>

            <thead>
                <tr>
                    <th>
                        Title
                    </th>

                    <th>
                        Edit
                    </th>

                    <th>
                        Delete
                    </th>
                </tr>
            </thead>

            <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                        {{post.title}}
                    </td>

                    <td>
                        <a href="#">edit</a>
                    </td>

                    <td>
                        <a href="#">delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>

