<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Topic Add</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="centered-item" align="center">
      <h2>Add New Topic</h2>
</div>
<div class="content">
    <form action="{{ url_for('topic_add') }}" method="POST">

        <p><input type="text" name="title" placeholder="Title"/></p>
        <p><textarea  name="content" placeholder="Content" height="80"></textarea></p>

        <input class="cta" type="submit" value="Create Post"/>
    </form>
</div>

</body>
<script
   src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
<script>
    $(function ()
    {
        $("form").submit(function (event)
        {
            event.preventDefault();
            var topicTitle = $("input[name='title']").val();
            var topicContent = $("textarea[name='content']").val();
            var topicData = {
                    "title": topicTitle,
                    "content": topicContent
                    };
            $.ajax({
                type: "POST",
                url: "/api/topic/add",
                data: JSON.stringify(topicData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response)
                {
                    alert("Added topic successfully !");
                    location.reload();
                }
            });
        });
    });
</script>
</html>

